framework: auto-detect
source https://api.nuget.org/v3/index.json

nuget Aardvark.Application.WinForms
nuget FSharp.Core
nuget Argu

nuget Aardvark.Base
nuget Aardvark.Base.Incremental
nuget Aardvark.Base.FSharp

nuget Aardvark.Base.Rendering
nuget Aardvark.Application.Slim
nuget Aardvark.Application.Slim.GL
nuget Aardvark.Application.Slim.Vulkan
nuget Aardvark.Application.Utilities
nuget Aardvark.SceneGraph
nuget Aardvark.SceneGraph.IO

nuget Aardvark.Service
nuget Aardvark.UI
nuget Aardvark.UI.Primitives
nuget Aardvark.Compiler.DomainTypes.MSBuild
nuget Aardium

nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck
nuget Expecto.VisualStudio.TestAdapter version_in_path: true

nuget Fake.JavaScript.Npm
nuget Fake.JavaScript.Yarn
nuget BlackFox.Fake.BuildTask
nuget Fake.Core.Target
nuget Fake.IO.FileSystem
nuget Fake.DotNet.Cli
nuget Fake.Tools.Git
nuget Fake.DotNet.MSBuild
nuget Fake.Core.ReleaseNotes 
nuget Fake.DotNet.AssemblyInfoFile
nuget Fake.DotNet.Paket
nuget Fake.DotNet.Testing.Expecto 
nuget Fake.DotNet.FSFormatting

group Formatting
	source https://api.nuget.org/v3/index.json

	nuget FSharp.Formatting
	nuget FSharp.Formatting.CommandTool
